
:root {
  --color-back: white;
  --color-fore: red;
}

.darkThema,
.darkThemaX2 {
  background-color: var(--color-fore);
  color: var(--color-back);
}

.lightThema,
.lightThemaX2 {
  background-color: var(--color-back);
  color: var(--color-fore);
}

.lightThemaX2 {
  border: 13px black solid;
  padding: 13px;
  border-radius: 10px;
  font-weight: bold;
  background-color: var(--color-back);
  color: var(--color-fore);
}

.darkThemaX2 {
  border: 13px black solid;
  padding: 13px;
  border-radius: 10px;
  font-weight: bold;
  background-color: var(--color-fore);
  color: var(--color-back);
}

button {
  margin-right: 10px;
}



.App {
  text-align: center;
  min-width: 15cm;
  max-width: 20cm;
  margin: auto;

}

.themaChanger {
  margin-top: 1cm;
}

.divOrta {
  margin: auto 10px;
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}


.App-header {
  background-color:  var(--color-fore);
  border: 13px double var(--color-back);
  color: var(--color-back);
  border-radius: 20px;
  min-height: 10vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  /* color: white; */
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}